<dl class="row">
    <f:for as="entry" each="{entries}">
        <dt class="col-sm-3">
            <f:format.date format="d.m.Y H:i">{entry.start}</f:format.date>
        </dt>
        <dd class="col-sm-9">
            <f:link.action action="show" arguments="{event : entry.uid}">{entry.title}</f:link.action>
        </dd>
    </f:for>
</dl>
